<% if @flow %>
  <% @flow.ui_messages.each do |message| %>
    <p <%= 'class=text-destructive' if message.type == "error" %>>
      <%= message.text %>
    </p>
  <% end %>

  <% @flow.node_groups.each do |group| %>
    <%= form_with url: @flow.submit_path, method: @flow.method do || %>
      <% if @flow.submit_path != @flow.action %>
        <%= hidden_field_tag :action_url, @flow.action %>
      <% end %>
      <% group.nodes.each do |node| %>
        <%= render Flows::UiNodeComponent.new(node) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>