<% if @redirect_url %>
  <script>
      window.location.href = '<%= raw @redirect_url %>';
  </script>
<% end %>

<div class="flex flex-col justify-start h-screen">
  <h2 class="text-3xl mb-6">Registration</h2>

  <% if @goto %>
    <div class="flex flex-col">
      <p class="mb-4">You are not logged in. Please log in to continue.</p>
      <a href="<%= @goto %>" class="btn btn-primary">Log in</a>
    </div>
  <% end %>

  <% if @nodes %>
    <%= form_with url: registration_path, method: :post do || %>
      <input type="hidden" name="action_url" id="action_url" value="<%= @submit_url %>">
      <div class="flex flex-col">
        <% @nodes.each do |node| %>
          <% if node["attributes"]["node_type"] == "input" %>
            <%= render Flows::UiNodeComponent.new(node: node) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
