<% if has_messages? %>
  <div>
    <% @messages.each do |message| %>
      <p <%= "class=text-destructive" if message.type == "error" %>>
        <%= message.text %>
      </p>
    <% end %>
  </div>
<% end %>

<% if self.self_closing?(@tag) %>
  <%= render @label if @label %>
  <%= render ApplicationComponent.new(**@options) %>
<% else %>
  <%= render ApplicationComponent.new(**@options) do %>
    <%= @label if @label %>
  <% end %>
<% end %>