<% if has_messages? %>
  <div>
    <% @messages.each do |message| %>
      <p <%= "class=text-destructive" if message.type == "error" %>>
        <%= message.text %>
      </p>
    <% end %>
  </div>
<% end %>

<% if is_button? %>
  <button
    class="btn-primary"
    type='<%= get_type %>'
    id="<%= @id %>"
    name="<%= get_name %>"
    <% @attributes && @attributes.each do |attr| %>
    <%= get_attr(attr) %>
    <% end %>
    >
    <% if has_label? %>
      <label for="<%= get_name %>"><%= @meta["label"]["text"] %></label>
    <% end %>
  </button>
<% else %>
  <% if has_label? %>
    <label for="<%= get_name %>"><%= @meta["label"]["text"] %></label>
  <% end %>
  <input
    type='<%= get_type %>'
    id="<%= @id %>"
    name="<%= get_name %>"
    <% @attributes && @attributes.each do |attr| %>
    <%= get_attr(attr) %>
    <% end %>
      />
<% end %>
