<% content_for :content do %>
  <div class="flex space-x-4 w-full">
    <ul>
      <li><%= link_to 'Public Profile', settings_profile_path %></li>
      <li><%= link_to 'Account', settings_admin_path %></li>
      <li><%= link_to 'Appearance', settings_appearance_path %></li>
      <li><%= link_to 'Sessions', settings_sessions_path %></li>
      <li><%= link_to 'Security', settings_security_path %></li>
    </ul>
    <div>
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>